<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Post It</title>
<link rel="stylesheet" href="/static/style.css">
  </head>
  <body class=new_post>
<div class="posts">


      <h1 class="post">Post About The Book</h1>
      <br>
      <br>
      <form   action="/create/" method="post">
      <h1 class="h1">Book Title:<input type="text" name="title" ></h1><br>
      <h1 class="h2">Book Author:<input type="text" name="author" ></h1><br>
      <h1 class="h3"> About The Book:<input type="text" name="post" ></h1><br>
        <input type="submit"  value="Post">
</div>
      </form>

  </body>
</html>
